html, body {
	background: #FFF;
	color: #000;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a {
	color: #274E7D;
}

a:hover, a:active {
	color: #6899D3;
}

h1 {
	margin: 0;
	padding: 8px;
	background: #274E7D;
	color: #FFF;
	font-size: 24px;
}

h2 {
	margin: 0;
	padding: 4px 8px;
	background: #6899D3;
	color: #274E7D;
	font-size: 16px;
}

h3 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#main {
	padding: 8px;
	width: 840px;
	position: relative;
}

form {
	margin: 0;
	padding: 0;
}

div.desc {
	width: 500px;
}

div.desc p {
	margin: 8px;
	padding: 0;
}

div.join {
	width: 278px;
	position: absolute;
	top: -64px;
	right: 35px;
	border: 3px solid #274E7D;
	background: white;
	padding: 5px;
}

div.join p {
	margin: 0;
	padding: 0;
}

div.userinfo {
	overflow: hidden;
	margin: 5px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #F5F5F5;
}

div.userinfo h3 {
	padding: 15px 0 0 0;
}

div.userinfo div.browser {
	margin-right: 20px;
}

div.browsers {
	float: left;
	overflow: hidden;
	margin: 5px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #F5F5F5;
}

div.browser {
	width: 58px;
	height: 66px;
	float: left;
	position: relative;
	margin: 4px;
	text-align: center;
}

div.clear {
	clear: left;
}

div.browser img {
	width: 48px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
}

div.browser img.msie {
	margin-top: 0px;
}

div.browser span.browser-name {
	display: block;
	text-align: center;
	/*background: #274E7D;*/
	background: #CCC;
	background: rgba(39,78,125,0.2);
	color: #000;
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 1px;
	width: 100%;
}

div.you span.browser-name {
	background: orange;
	color: black;
}

div.browser span.active {
	position: absolute;
	top: 0px;
	right: 0px;
	background: red;
	color: #FFF;
	font-size: 12px;
	padding: 2px 3px;
	border: 2px solid #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

table.results div.browser {
	width: 20px;
	height: 20px;
}

table.results div.browser img {
	width: 20px;
}

table.results div.browser span {
	display: none;
}

table.results td.pass {
	background: lightgreen;
}

table.results td.fail {
	background: red;
}

table.results td.progress {
	background: yellow;
}

table.results td.timeout {
	background: black;
	color: white;
}

table.results td.timeout a {
	color: white;
}

table.results td {
	background: gray;
	/* padding: 15px 5px; */
	padding: 4px 3px;
	text-align: right;
}

table.results a {
	color: #000;
}

table.results {
	width: 100%;
}

div#iframes {
	width: 1px;
	height: 1px;
}

ul#history {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
}

ul#history li {
	padding: 0;
	margin: 5px 0;
}
