html, body {
	background: #FFF;
	color: #000;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a {
	color: #274E7D;
}

a:hover, a:active {
	color: #6899D3;
}

p.right {
	text-align: right;
}

h1 {
	margin: 0;
	padding: 8px;
	background: #F5F5F5;
	color: #FFF;
	font-size: 24px;
}

h1 a {
	text-decoration: none;
	color: #FFF;
}

h1 a img {
	border: 0;
}

h2 {
	margin: 0;
	padding: 8px 20px;
	border-top: 4px solid #6899D3;
	color: #274E7D;
	font-size: 24px;
}

h3 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

ul.nav {
	list-style: none;
	padding: 8px 0 8px 16px;
	margin: 0;
	background: #274E7D;
}

ul.nav li {
	display: inline;
	padding-right: 8px;
}

ul.nav li a {
	color: #FFF;
}

#main {
	margin: 20px;
	width: 840px;
	position: relative;
}

#main h3 {
	margin-bottom: 12px;
}

blockquote {
	padding: 4px;
	margin: 4px 66px 4px 16px;
	font-size: 14px;
	line-height: 16px;
}

div.scores {
	position: absolute;
	top: 0px;
	right: -100px;
}

table.scores {
	margin: 5px;
}

table.scores td {
	padding: 2px;
}

table.scores td.num {
	text-align: right;
}

form {
	margin: 0;
	padding: 0;
}

div.desc {
	width: 500px;
}

div.desc p {
	margin: 8px;
	padding: 0;
}

div.join {
	width: 278px;
	position: absolute;
	top: -168px;
	right: 55px;
	border: 3px solid #274E7D;
	background: white;
	padding: 8px;
}

div.join p {
	margin: 0 0 4px 0;
	padding: 0;
}

div.userinfo {
	overflow: hidden;
	margin: 5px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #F5F5F5;
}

div.userinfo h3 {
	padding: 15px 0 0 0;
}

div.userinfo div.browser {
	margin-right: 20px;
}

div.browsers {
	float: left;
	overflow: hidden;
	margin: 5px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #F5F5F5;
}

div.browser {
	width: 58px;
	height: 66px;
	float: left;
	position: relative;
	margin: 4px;
	text-align: center;
}

div.clear {
	clear: left;
}

div.browser img {
	width: 48px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
}

div.browser img.msie {
	margin-top: 0px;
}

div.browser span.browser-name {
	display: block;
	text-align: center;
	/*background: #274E7D;*/
	background: #CCC;
	background: rgba(39,78,125,0.2);
	color: #000;
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 1px;
	width: 100%;
}

div.you span.browser-name {
	background: orange;
	color: black;
}

div.browser span.active {
	position: absolute;
	top: 0px;
	right: 0px;
	background: red;
	color: #FFF;
	font-size: 12px;
	padding: 2px 3px;
	border: 2px solid #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

table.results div.browser,
table.results div.browser img {
	width: 30px;
}

table.results div.browser span {
	background: transparent;
}

table.results div.browser {
	height: 50px;
}

/* Result statuses */

table.results td.status-new {
	background: gray;
}

table.results td.status-progress {
	background: yellow;
}

table.results td.status-passed {
	background: lightgreen;
}

table.results td.status-failed {
	background: red;
}

table.results td.status-timedout,
table.results td.status-error {
	background: black;
	color: white;
}

table.results td.status-timedout a,
table.results td.status-error a {
	color: white;
}

table.results.td.notscheduled {
	background: #F2F2F2;
}

table.results td {
	padding: 4px 3px;
}

table.results a {
	color: #000;
}

table.results {
	width: 100%;
}

div#iframes {
	width: 1px;
	height: 1px;
}

ul#history {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
}

ul#history li {
	padding: 0;
	margin: 5px 0;
}

ul.clients {
	list-style: none;
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
}

ul.clients li {
	float: left;
	overflow: hidden;
	margin: 5px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #F5F5F5;
	height: 24px;
	min-width: 180px;
	font-size: 10px;
}

ul.clients li img {
	float: left;
	margin-right: 5px;
	width: 24px;
}

ul.clients li img.msie {
	margin-top: -2px;
}

.errorbox {
	background: whiteSmoke;
	border: 2px solid #AAA;
	color: darkRed;
	padding: 1em;
	width: auto;
}

#footer {
	clear: both;
	background: whiteSmoke;
	border-top: 1px solid #E5E5E5;
	text-align: center;
	padding: 1em 0 2em 0;
	margin: 1em 0 0 0;
}