.swarm-browseronline {
	position: relative;
	text-align: center;
}

.swarm-browseronline .swarm-onlineclients {
	position: absolute;
	top: 5px;
	right: 5px;
	line-height: normal;
}

.swarm-browseronline .swarm-browsericon {
	height: 48px;
	margin: 10px 0;
}

.swarm-browseronline .swarm-onlineclients,
.swarm-browseronline .swarm-browsername {
	font-size: 11px;
}

.swarm-browseronline .swarm-browsername:hover {
	cursor: default;
}

/* Result table */

table.swarm-results th,
table.swarm-results td {
	text-align: center;
}

table.swarm-results img.swarm-browsericon {
	max-height: 28px;
}

table.swarm-results td.status-new,
table.swarm-results tr:hover td.status-new {
	background: #F2F2F2;
}

table.swarm-results td.status-progress,
table.swarm-results tr:hover td.status-progress {
	background: #FBEED5;
}

table.swarm-results td.status-passed,
table.swarm-results tr:hover td.status-passed {
	background: #DFF0D8;
}

table.swarm-results td.status-failed,
table.swarm-results tr:hover td.status-failed {
	background: #F2DEDE;
}

table.swarm-results td.status-timedout,
table.swarm-results td.status-error,
table.swarm-results tr:hover td.status-timedout,
table.swarm-results tr:hover td.status-error {
	background: #B94A48;
}

table.swarm-results td.status-timedout a,
table.swarm-results td.status-error a,
table.swarm-results tr:hover td.status-timedout a,
table.swarm-results tr:hover td.status-error a {
	color: black;
}

table.swarm-results td.status-notscheduled,
table.swarm-results tr:hover td.status-notscheduled {
	background: #fff;
}
