language: php
php:
  - "5.4"
  - "5.3"
before_script:
  - npm install -g jshint
script:
  - find . -name '*.php' -not -path '*/external/*' -print0 | xargs -0 -L 1 -P 8 php -l
  - jshint .
git:
  depth: 10
